<?xml version="1.0" encoding="UTF-8"?>
<configuration version="1.0.0">
	<parameter name="mz_tolerance" desc="m/z tolerance ppm">15</parameter>
	<parameter name="drift_tube_length" desc="Drift tube length cm">78.236</parameter>
	<parameter name="old_drift_tube_length" desc="Drift tube length used by the acquisition software cm">78.12</parameter>
	<parameter name="suffix_raw" desc="Suffix string preprocessed raw">_MA-d3-csum_</parameter>
	<parameter name="suffix_meta" desc="Suffix string frame metadata">_FrameMetadata</parameter>
	<parameter name="frame_offset" desc="Selected frame for each field by offset">5</parameter>
	<parameter name="num_fields" desc="Number of fields">7</parameter>
	<parameter name="neutral_mass" desc="Neutral mass">28.013</parameter>
	<parameter name="adducts" desc="Adducts">
		<adduct mass="1.007940" name="H" charges="+1,-1,+2"/>
		<adduct mass="22.989769675" name="Na" charges="+1"/>
		<adduct mass="0.0" name="." charges="+1"/>
		<adduct mass="38.963706861" name="K" charges="+1"/>
	</parameter>
</configuration>